@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner{
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner 0.7s linear infinite;
  }

  @keyframes spinner{
    from{}
      to{
        transform: rotate(360deg);
      }
  }

  .tenor-gif-embed {
    height: 400px;
}

.spinner-disabled {
  display: none !important;
}

.spinner-enabled {
  display: block;
}

#root {
  position: relative;
}

.spinner-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff30;
  overflow: hidden;
}

.spinner-parent .spinner {
  height: 40px;
  width: 40px;
}

.update-container {
  background: #384F60;
}

body{
    background:#111827;
